<%- include('./base/header.ejs') %>
<div class="container">
  <div class="alert bg-success my-3">
    <h4 class="text-center" style="color: white;">Add new Student</h4>

  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form action="/add/Student" method="post">

        <div>
          <label class="form-label">Rollno</label>
          <input type="text" class="form-control" name="rollNo">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control" name="firstName">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" name="lastName">
          <label class="form-label">Father Name</label>
          <input type="text" class="form-control" name="fatherName">
          <label class="form-label">Aadharcard No</label>
          <input type="text" class="form-control" name="aadharNo">
          <label class="form-label">Mobile No</label>
          <input type="text" class="form-control" name="mobileNo">
        
          

        </div>
        <input type="submit" value="Add Student" class="btn btn-warning w-100 my-3">
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
<%- include('./base/footer.ejs') %>